<section class="section-primary pt-50 gr13">
               <div class="container">
                  <div class="row t-white">
                     <div class="col-sm-6 pt-50">

                        <i class="fa fa-h-square fa-5x"></i>

                        <h3 class="uppercase fs-22  opacity4 lt-spacing-1">{{.heading}}</h3>
                        <h2 class="section-title fs-32 lh-38 fw-thin">
                           {{.description}}
                        </h2>
                        <p class="fs-16 lh-26 fw-vthin mt-md opacity6">
                           {{.text}}
                        </p>
               {{ if .buttonText }}
              <a href="{{.buttonLink}}" class="btn btn-default mt-md mr-md"><i class="fa fa-star-o fs-16"></i> {{.buttonText}}</a>
                  {{ end }}
                   </div>
                     <div class="col-sm-6">
                        <img src="https://cdn.everpayinc.com/elektropay/assets/img/custom/7.png" class="img-responsive">
                     </div>
                  </div>
               </div>
            </section>
