<section class="section-primary section-big gr03 b-bordered  t-white content-center">
               <div class="container">

                  <div class="row text-center">
                     <div class="col-sm-12">
                        <h2 class="section-title">Developer Friendly &amp; A.I. Ready</h2>
                        <p class="section-sub-title opacity7">At vero eos et accusamus et iusto odios un dignissimos ducimus qui blan nemo</p>
                        <hr class="invisible medium">
                     </div>
                  </div>

                  <div class="row text-center center-block">
                     <div class="col-sm-4">
                        <img class="img-responsive mb-xlg" src="https://cdn.everpayinc.com/elektropay/assets/img/custom/c12.png">
                        <h4 class="mb-md">Start to design your project.</h4>
                        <p class="opacity7">
                           Lorem ipsum dolor sit amet consec tetuer adipiscing elit sed diam nonummy.
                        </p>
                     </div>

                     <div class="col-sm-4">
                        <img class="img-responsive mb-xlg" src="https://cdn.everpayinc.com/elektropay/assets/img/custom/c13.png">
                        <h4 class="mb-md">Start to design your product.</h4>
                        <p class="opacity7">
                           Beautiful cinematic designs optimized for all screen sizes and types.
                        </p>
                     </div>

                     <div class="col-sm-4">
                        <img class="img-responsive mb-xlg" src="https://cdn.everpayinc.com/elektropay/assets/img/custom/c14.png">
                        <h4 class="mb-md">Integrate with any social media.</h4>
                        <p class="opacity7">
                           Clean and easy framework design for worry and hassle free customizations.
                        </p>
                     </div>
                  </div>
               </div>
            </section>


<div class="hidden bg-off-white pv4">
	<div class="ph3 mw7 center">

		<h2 class="f2 b lh-title mb3">Latest stories</h1>

		<div class="w-100 flex-ns mhn1-ns flex-wrap mb3">
			{{ range where .Data.Pages "Type" "post" }}
				<div class="ph1-ns w-50-ns flex">
					{{ .Render "li" }}
				</div>
			{{ end }}
		</div>

		<div class="tc">
			<a href="/post" class="btn raise">Read more</a>
		</div>

	</div>
</div>
</div><!-- /.landing-->
