<section class="section-primary main-color b-bordered">
               <div class="container">

                  <div class="row">
                     <div class="col-sm-12">
                        <div class="call-to-action">
                           <div class="call-to-action-content">
                              <h3 class="title">Elektropay is <strong>everything</strong> you need to manage <strong>all</strong>payment types!</h3>
                           </div>
                           <div class="call-to-action-btn">
                              <a href="/signup" class="btn btn-primary">Get Started!</a>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </section>
