<section class="section-primary main-color b-bordered">
               <div class="container">

                  <div class="row">
                     <div class="col-sm-12">
                        <div class="call-to-action">
                           <div class="call-to-action-content">
                              <h1 class="title">{{.heading}}</h1>
                           </div>
                           <div class="call-to-action-btn">
        <a href="{{.buttonLink}}" class="btn btn-default btn-lg">{{.buttonText}}</a>
                             
        <a href="{{.buttonLink1}}" class="btn btn-primary btn-lg">{{.buttonText1}}</a>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </section>
