<!doctype html>
<html lang="en-US">
	<head>

		<title> Elektropay | {{ .Title }} | Commerce Made Simple</title>
		<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-W4736M9');</script>
<!-- End Google Tag Manager -->
          <link rel="stylesheet" href="https://fonticons-free-fonticons.netdna-ssl.com/kits/a97ca672/a97ca672.css">
          <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css"> 
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css">    
          <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800%7CShadows+Into+Light">
          <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">			
		
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- Favicons -->
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
		<link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
		<link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
		<link rel="manifest" href="/manifest.json">
		<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#ff4400">
		<meta name="theme-color" content="#fff">

		<!-- Open Graph -->
		<meta property="og:type" content="business.business">
		<meta property="og:title" content="Elektropay | Commerce made simple">
		<meta property="og:url" content="/">
		<meta property="og:image" content="/og-image.jpg">
		
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">		
               <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		
   <link rel="stylesheet" href="https://cdn.everpayinc.com/elektropay/assets/vendor/cubeportfolio/css/cubeportfolio.min.css" />
   <link rel="stylesheet" href="https://cdn.everpayinc.com/elektropay/assets/vendor/owl.carousel/assets/owl.carousel.min.css">
   <link rel="stylesheet" href="https://cdn.everpayinc.com/elektropay/assets/vendor/owl.carousel/assets/owl.theme.default.min.css">
   <link rel="stylesheet" href="https://cdn.everpayinc.com/elektropay/assets/vendor/animate/animate.min.css">
   <link rel="stylesheet" href="https://cdn.everpayinc.com/elektropay/assets/vendor/dzsparallaxer/dzsparallaxer.css" />

		 <!-- App css  -->
               <link rel="stylesheet" href="https://cdn.everpayinc.com/elektropay/assets/css/elektro-front.css">

   <!-- Current Page CSS -->
   <link rel="stylesheet" href="https://cdn.everpayinc.com/elektropay/assets/vendor/rs-plugin/css/settings.css">
   <link rel="stylesheet" href="https://cdn.everpayinc.com/elektropay/assets/vendor/rs-plugin/css/layers.css">
   <link rel="stylesheet" href="https://cdn.everpayinc.com/elektropay/assets/vendor/rs-plugin/css/navigation.css">


		<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
	</head>

	<body class="page-loaded">
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W4736M9"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
        <div id="alert-region"></div>
		<div class="wrapper">
