<div class="slider-container rev_slider_wrapper" style="height: 1000px;">
<div id="revolutionSlider" class="slider rev_slider" data-plugin-revolution-slider data-plugin-options="{'delay': 9000, 'gridwidth': 1170, 'sliderLayout': 'fullscreen', 'fullScreenOffset': '0'}">
               <ul>
                  <!-- SLIDE  -->
                  <li data-index="rs-89"
                      data-transition="fade"
                      data-slotamount="default"
                      data-hideafterloop="0"
                      data-hideslideonmobile="off"
                      data-easein="default"
                      data-easeout="default"
                      data-masterspeed="1000"
                      data-rotate="0"
                      data-saveperformance="off"
                      data-title="Diversity">

                     <!-- MAIN IMAGE -->
                     <img src="https://cdn.everpayinc.com/elektropay/assets/img/slider/slider2/transparent.png"
                          style='background-color:rgba(62, 187, 234, 0.92)' alt=""
                          data-lazyload="https://cdn.everpayinc.com/elektropay/assets/img/slider/slider2/transparent.png"
                          data-bgposition="center center"
                          data-bgfit="cover"
                          data-bgrepeat="no-repeat"
                          class="rev-slidebg"
                          data-no-retina>
                     <!-- LAYERS -->
			  
                     <!-- LAYER NR. 1 -->
                     <div class="tp-caption tp-resizeme"
                          data-x="['left','left','left','left']"
                          data-hoffset="['45','45','45','20']"
                          data-y="['top','top','top','top']"
                          data-voffset="['30','30','30','30']"
                          data-fontsize="['150','150','100','70']"
                          data-lineheight="['150','150','100','70']"
                          data-width="none"
                          data-height="none"
                          data-whitespace="nowrap"
                          data-transform_idle="o:1;"
                          data-transform_in="y:bottom;s:1500;e:Power4.easeOut;"
                          data-transform_out="y:top;s:500;e:Power2.easeIn;"
                          data-start="600"
                          data-splitin="none"
                          data-splitout="none"
                          data-basealign="slide"
                          data-responsive_offset="on"
                          style="z-index: 5; white-space: nowrap; font-size: 150px; line-height: 150px;
                                    font-weight: 900; color: rgba(0, 0, 0, 0.05);font-family:inherit;text-transform:left;">
                        INNOVATIVE
                     </div>
                     <!-- LAYER NR. 2 -->
                     <div class="tp-caption tp-resizeme"
                          data-x="['left','left','left','left']"
                          data-hoffset="['45','45','45','20']"
                          data-y="['top','top','top','top']"
                          data-voffset="['169','169','132','101']"
                          data-fontsize="['150','150','100','70']"
                          data-lineheight="['150','150','100','70']"
                          data-width="none"
                          data-height="none"
                          data-whitespace="nowrap"
                          data-transform_idle="o:1;"
                          data-transform_in="y:bottom;s:1500;e:Power4.easeOut;"
                          data-transform_out="y:top;s:650;e:Power2.easeIn;"
                          data-start="700"
                          data-splitin="none"
                          data-splitout="none"
                          data-basealign="slide"
                          data-responsive_offset="on"
                          style="z-index: 6; white-space: nowrap; font-size: 150px; line-height: 150px;
                                    font-weight: 900; color: rgba(0, 0, 0, 0.05);font-family:inherit;text-transform:left;">
                        RESPONSIVE
                     </div>

                     <!-- LAYER NR. 3 -->
                     <div class="tp-caption tp-resizeme"
                          data-x="['left','left','left','left']"
                          data-hoffset="['45','45','45','20']"
                          data-y="['top','top','top','top']"
                          data-voffset="['308','308','235','172']"
                          data-fontsize="['150','150','100','70']"
                          data-lineheight="['150','150','100','70']"
                          data-width="none"
                          data-height="none"
                          data-whitespace="nowrap"
                          data-transform_idle="o:1;"
                          data-transform_in="y:bottom;s:1500;e:Power4.easeOut;"
                          data-transform_out="y:top;s:800;e:Power2.easeIn;"
                          data-start="800"
                          data-splitin="none"
                          data-splitout="none"
                          data-basealign="slide"
                          data-responsive_offset="on"
                          style="z-index: 7; white-space: nowrap; font-size: 150px; line-height: 150px; font-weight: 900;
                                    color: rgba(0, 0, 0, 0.05);font-family:inherit;text-transform:left;">
                        VERSATILE
                     </div>
                     <!-- LAYER NR. 4 -->
                     <div class="tp-caption SleekLanding-Title tp-resizeme"
                          data-x="['left','left','left','left']"
                          data-hoffset="['700','580','420','230']"
                          data-y="['middle','middle','middle','middle']"
                          data-voffset="['-99','-99','-99','-119']"
                          data-fontsize="['35','35','35','25']"
                          data-lineheight="['40','40','40','30']"
                          data-width="none"
                          data-height="none"
                          data-whitespace="nowrap"
                          data-transform_idle="o:1;"
                          data-transform_in="y:50px;opacity:0;s:1500;e:Power4.easeOut;"
                          data-transform_out="y:-50px;opacity:0;s:500;e:Power2.easeIn;"
                          data-start="900" data-splitin="none"
                          data-splitout="none"
                          data-responsive_offset="on"
                          style="z-index: 8; white-space: nowrap; font-weight: 700;text-transform:left;">
                        A Brand New <br />
                        Solution.
                     </div>

                     <!-- LAYER NR. 5 -->
                     <div class="tp-caption tp-resizeme"
                          data-x="['left','left','left','left']"
                          data-hoffset="['700','580','420','230']"
                          data-y="['middle','middle','middle','middle']"
                          data-voffset="['1','1','1','-4']"
                          data-width="['320','320','320','200']"
                          data-height="none"
                          data-whitespace="normal"
                          data-transform_idle="o:1;"
                          data-transform_in="y:50px;opacity:0;s:1500;e:Power4.easeOut;"
                          data-transform_out="y:-50px;opacity:0;s:500;e:Power2.easeIn;"
                          data-start="1000"
                          data-splitin="none"
                          data-splitout="none"
                          data-responsive_offset="on"
                          style="z-index: 9; min-width: 320px; max-width: 320px;
                                    white-space: normal; font-size: 15px;
                                    line-height: 24px; font-weight: 400;
                                    color: rgba(255, 255, 255, 1.00);
                                    font-family:Lato;text-transform:left;">
                        We take things to a totally new level with this highly usable and affordable app. <br />
                        You will love what you see once you do!
                     </div>

                     <!-- LAYER NR. 6 -->
                     <div class="tp-caption SleekLanding-ButtonBG tp-shape tp-shapewrapper tp-resizeme"
                          data-x="['left','left','left','left']"
                          data-hoffset="['700','580','420','230']"
                          data-y="['middle','middle','middle','middle']"
                          data-voffset="['105','105','105','105']"
                          data-width="230"
                          data-height="50"
                          data-whitespace="nowrap"
                          data-transform_idle="o:1;"
                          data-transform_in="y:50px;opacity:0;s:1500;e:Power4.easeOut;"
                          data-transform_out="y:-50px;opacity:0;s:500;e:Power2.easeIn;"
                          data-start="1100"
                          data-responsive_offset="on" style="z-index: 10;font-family:inherit;text-transform:left;">
                     </div>
                     <!-- LAYER NR. 7 -->
                     <div class="tp-caption tp-resizeme"
                          data-x="['right','right','right','right']"
                          data-hoffset="['-100','-142','-149','23']"
                          data-y="['bottom','bottom','bottom','bottom']"
                          data-voffset="['-304','-384','-376','-166']"
                          data-width="none"
                          data-height="none"
                          data-whitespace="nowrap"
                          data-transform_idle="o:1;"
                          data-transform_in="y:bottom;rZ:-90deg;s:1500;e:Power4.easeOut;"
                          data-transform_out="y:top;rZ:45deg;s:1000;e:Power2.easeIn;"
                          data-start="1200"
                          data-responsive_offset="on"
                          style="z-index: 11;text-transform:left;">
                        <img src="https://cdn.everpayinc.com/elektropay/assets/img/slider/slider2/dummy.png" alt=""
                             data-ww="['760px','760px','760','380px']"
                             data-hh="['1000px','1000px','1000','500px']"
                             data-lazyload="https://cdn.everpayinc.com/elektropay/assets/img/slider/slider2/coffee_cup.png"
                             data-no-retina>
                     </div>
                     <!-- LAYER NR. 8 -->
                     <div class="tp-caption tp-resizeme"
                          data-x="['right','right','right','right']"
                          data-hoffset="['971','826','360','70']"
                          data-y="['bottom','bottom','bottom','bottom']"
                          data-voffset="['345','227','763','621']"
                          data-width="none"
                          data-height="none"
                          data-whitespace="nowrap"
                          data-transform_idle="o:1;"
                          data-transform_in="y:bottom;rZ:90deg;s:1500;e:Power4.easeOut;"
                          data-transform_out="y:top;rZ:-40deg;s:1000;e:Power2.easeIn;"
                          data-start="900"
                          data-responsive_offset="on"
                          style="z-index: 12;text-transform:left;">
                        <img src="img/slider/slider2/dummy.png" alt=""
                             data-ww="['600px','600px','600px','300px']"
                             data-hh="['140px','140px','140px','70px']"
                             data-lazyload="https://cdn.everpayinc.com/elektropay/assets/img/slider/slider2/wood_pencil.png"
                             data-no-retina>
                     </div>
                     <!-- LAYER NR. 9 -->
                     <div class="tp-caption tp-resizeme"
                          data-x="['left','left','left','left']"
                          data-hoffset="['-13','-50','13','24']"
                          data-y="['top','top','top','top']"
                          data-voffset="['552','564','690','589']"
                          data-width="none"
                          data-height="none"
                          data-whitespace="nowrap" data-transform_idle="o:1;"
                          data-transform_in="y:bottom;rZ:45deg;s:1500;e:Power4.easeOut;"
                          data-transform_out="y:top;rZ:-45deg;s:1100;e:Power2.easeIn;"
                          data-start="1100"
                          data-responsive_offset="on"
                          style="z-index: 13;text-transform:left;">
                        <img src="img/slider/slider2/dummy.png" alt=""
                             data-ww="['340px','340px','340px','200px']"
                             data-hh="['180px','180px','180px','106px']"
                             data-lazyload="https://cdn.everpayinc.com/elektropay/assets/img/slider/slider2/eraser_pink.png"
                             data-no-retina>
                     </div>
                     <!-- LAYER NR. 10 -->
                     <div class="tp-caption SleekLanding-SmallTitle tp-resizeme"
                          data-x="['left','left','left','left']"
                          data-hoffset="['721','601','441','251']"
                          data-y="['middle','middle','middle','middle']"
                          data-voffset="['106','106','106','106']"
                          data-width="none"
                          data-height="none"
                          data-whitespace="nowrap"
                          data-transform_idle="o:1;"
                          data-transform_in="y:50px;opacity:0;s:1500;e:Power4.easeOut;"
                          data-transform_out="y:-50px;opacity:0;s:500;e:Power2.easeIn;"
                          data-start="1150" data-splitin="none"
                          data-splitout="none"
                          data-responsive_offset="on"
                          style="z-index: 14; white-space: nowrap;text-transform:left;">
                        GET OUR APP
                     </div>
                     <!-- LAYER NR. 11 -->
                     <div class="tp-caption tp-resizeme"
                          data-x="['left','left','left','left']"
                          data-hoffset="['853','733','573','383']"
                          data-y="['middle','middle','middle','middle']"
                          data-voffset="['106','106','106','106']"
                          data-width="none"
                          data-height="none"
                          data-whitespace="nowrap"
                          data-transform_idle="o:1;"
                          data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:200;e:Power1.easeInOut;"
                          data-style_hover="c:rgba(255, 255, 255, 1.00);"
                          data-transform_in="y:50px;opacity:0;s:1500;e:Power4.easeOut;"
                          data-transform_out="y:-50px;opacity:0;s:500;e:Power2.easeIn;"
                          data-start="1200"
                          data-splitin="none"
                          data-splitout="none"
                          data-responsive_offset="on"
                          style="z-index: 15; white-space: nowrap; font-size: 30px; line-height: 30px; font-weight: 400;
                                    color: rgba(0, 0, 0, 0.25);text-transform:left;cursor:pointer;">
                        <i class="fa fa-apple"></i>
                     </div>
                     <!-- LAYER NR. 12 -->
                     <div class="tp-caption tp-resizeme"
                          data-x="['left','left','left','left']"
                          data-hoffset="['888','768','608','418']"
                          data-y="['middle','middle','middle','middle']"
                          data-voffset="['105','105','105','105']"
                          data-width="none"
                          data-height="none"
                          data-whitespace="nowrap"
                          data-transform_idle="o:1;"
                          data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:200;e:Power1.easeInOut;"
                          data-style_hover="c:rgba(255, 255, 255, 1.00);"
                          data-transform_in="y:50px;opacity:0;s:1500;e:Power4.easeOut;"
                          data-transform_out="y:-50px;opacity:0;s:500;e:Power2.easeIn;"
                          data-start="1250"
                          data-splitin="none"
                          data-splitout="none"
                          data-responsive_offset="on"
                          style="z-index: 16; white-space: nowrap; font-size: 30px; line-height: 30px; font-weight: 400;
                                    color: rgba(0, 0, 0, 0.25);text-transform:left;cursor:pointer;">
                        <i class="fa fa-android"></i>
                     </div>
                     <!-- LAYER NR. 13 -->
                     <div class="tp-caption tp-shape tp-shapewrapper tp-resizeme"
                          data-x="['center','center','center','center']"
                          data-hoffset="['-104','-104','-134','-164']"
                          data-y="['middle','middle','middle','middle']"
                          data-voffset="['-37','-37','-27','-27']"
                          data-width="['209','209','207','207']"
                          data-height="['369','369','367','367']"
                          data-whitespace="nowrap"
                          data-transform_idle="o:1;"
                          data-transform_in="opacity:0;s:500;e:Power2.easeInOut;"
                          data-transform_out="opacity:0;s:1500;e:Power4.easeIn;"
                          data-start="500"
                          data-responsive_offset="on"
                          style="z-index: 17;text-transform:left;
                                    background-color:rgba(51, 51, 51, 1.00);
                                    border-color:rgba(0, 0, 0, 0);">
                     </div>
                     <!-- LAYER NR. 14 -->
                     <div class="tp-caption tp-resizeme"
                          data-x="['center','center','center','center']"
                          data-hoffset="['-104','-104','-134','-164']"
                          data-y="['middle','middle','middle','middle']"
                          data-voffset="['-37','-38','-27','-27']"
                          data-width="none"
                          data-height="none"
                          data-whitespace="nowrap"
                          data-transform_idle="o:1;"
                          data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
                          data-transform_out="y:[-100%];s:1000;e:Power3.easeInOut;"
                          data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                          data-mask_out="x:0;y:0;s:inherit;e:inherit;"
                          data-start="700"
                          data-responsive_offset="on"
                          style="z-index: 18;text-transform:left;">
                        <img src="https://cdn.everpayinc.com/elektropay/assets/img/slider/slider2/dummy.png" alt=""
                             data-ww="['207px','207px','207','207px']"
                             data-hh="['367px','367px','367','367px']"
                             data-lazyload="https://cdn.everpayinc.com/elektropay/assets/img/slider/slider2/iphone_image1.jpg" data-no-retina>
                     </div>
                  </li>
		        <!-- LAYER NR. 15 -->
                     <div class="tp-caption tp-resizeme"
                          data-x="['center','center','center','center']"
                          data-hoffset="['-104','-104','-134','-164']"
                          data-y="['middle','middle','middle','middle']"
                          data-voffset="['-37','-38','-27','-27']"
                          data-width="none"
                          data-height="none"
                          data-whitespace="nowrap"
                          data-transform_idle="o:1;"
                          data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
                          data-transform_out="y:[-100%];s:1000;e:Power3.easeInOut;"
                          data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                          data-mask_out="x:0;y:0;s:inherit;e:inherit;"
                          data-start="700"
                          data-responsive_offset="on" style="z-index: 19;text-transform:left;">
                        <img src="https://cdn.everpayinc.com/elektropay/assets/img/slider/slider2/dummy.png" alt=""
                             data-ww="['207','207','207','207px']"
                             data-hh="['367','367','367','367px']"
                             data-lazyload="https://cdn.everpayinc.com/elektropay/assets/img/slider/slider2/iphone_slide2.jpg"
                             data-no-retina>
                     </div>
                  </li>
               </ul>
               <div style="" class="tp-static-layers">
                  <!-- LAYER NR. 1 -->
                  <div class="tp-caption tp-resizeme tp-static-layer"
                       data-x="['left','left','left','left']"
                       data-hoffset="['20','20','20','20']"
                       data-y="['top','top','top','top']"
                       data-voffset="['20','20','20','20']"
                       data-width="none"
                       data-height="none"
                       data-whitespace="nowrap"
                       data-transform_idle="o:1;"
                       data-transform_in="opacity:0;s:500;e:Power2.easeInOut;"
                       data-transform_out="opacity:0;s:300;"
                       data-start="500"
                       data-actions='[{"event":"click","action":"jumptoslide","slide":"rs-88","delay":""}]'
                       data-responsive_offset="on"
                       data-startslide="0"
                       data-endslide="2"
                       style="z-index: 5;text-transform:left;cursor:pointer;">
                     <img src="img/slider/slider2/dummy.png" alt=""
                          data-ww="['120px','120px','120px','120px']"
                          data-hh="['50px','50px','50px','50px']"
                          data-lazyload="https://cdn.everpayinc.com/elektropay/assets/img/slider/slider2/box_logo.png" data-no-retina>
                  </div>
                  <!-- LAYER NR. 3 -->
                  <div class="tp-caption tp-resizeme tp-static-layer"
                       data-x="['right','right','center','center']"
                       data-hoffset="['150','150','0','0']"
                       data-y="['bottom','bottom','bottom','bottom']"
                       data-voffset="['30','30','130','130']"
                       data-width="none" data-height="none"
                       data-whitespace="nowrap"
                       data-transform_idle="o:1;"
                       data-transform_in="opacity:0;s:500;e:Power2.easeInOut;"
                       data-transform_out="opacity:0;s:300;"
                       data-start="500"
                       data-splitin="none"
                       data-splitout="none"
                       data-responsive_offset="on"
                       data-startslide="0"
                       data-endslide="2"
                       style="z-index: 7; white-space: nowrap; font-size: 15px; line-height: 24px; font-weight: 400;
                                color: rgba(255, 255, 255, 1.00);font-family:Lato;text-transform:left;">
                     Get in touch via Social Media
                  </div>
                  <!-- LAYER NR. 4 -->
                  <a class="tp-caption SleekLanding-Social tp-resizeme tp-static-layer"
                     href="https://www.facebook.com/themepunchofficial" target="_blank"
                     data-x="['right','right','center','center']"
                     data-hoffset="['105','105','-40','-40']"
                     data-y="['bottom','bottom','bottom','bottom']"
                     data-voffset="['27','27','90','90']"
                     data-width="30"
                     data-height="30"
                     data-whitespace="nowrap"
                     data-transform_idle="o:1;"
                     data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:200;e:Power1.easeInOut;"
                     data-style_hover="c:rgba(0, 0, 0, 0.25);"
                     data-transform_in="opacity:0;s:500;e:Power2.easeInOut;"
                     data-transform_out="opacity:0;s:300;"
                     data-start="500"
                     data-splitin="none"
                     data-splitout="none"
                     data-actions=''
                     data-responsive_offset="on"
                     data-startslide="0"
                     data-endslide="2"
                     style="z-index: 8; min-width: 30px; max-width: 30px; max-width: 30px; max-width: 30px;
                                white-space: nowrap;text-transform:left;cursor:pointer;">
                     <i class="fa fa-facebook-f"></i>
                  </a>
                  <!-- LAYER NR. 5 -->
                  <a class="tp-caption SleekLanding-Social tp-resizeme tp-static-layer"
                     href="https://twitter.com/themepunch" target="_blank"
                     data-x="['right','right','center','center']"
                     data-hoffset="['65','65','0','0']"
                     data-y="['bottom','bottom','bottom','bottom']"
                     data-voffset="['27','27','90','90']"
                     data-width="30"
                     data-height="30"
                     data-whitespace="nowrap"
                     data-transform_idle="o:1;"
                     data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:200;e:Power1.easeInOut;"
                     data-style_hover="c:rgba(0, 0, 0, 0.25);"
                     data-transform_in="opacity:0;s:500;e:Power2.easeInOut;"
                     data-transform_out="opacity:0;s:300;"
                     data-start="500"
                     data-splitin="none"
                     data-splitout="none"
                     data-actions=''
                     data-responsive_offset="on"
                     data-startslide="0"
                     data-endslide="2"
                     style="z-index: 9; min-width: 30px; max-width: 30px; max-width: 30px; max-width: 30px;
                                white-space: nowrap;text-transform:left;cursor:pointer;">
                     <i class="fa fa-twitter"></i>
                  </a>

                  <!-- LAYER NR. 6 -->
                  <a class="tp-caption SleekLanding-Social tp-resizeme tp-static-layer"
                     href="https://plus.google.com/+ThemePunch" target="_blank"
                     data-x="['right','right','center','center']"
                     data-hoffset="['20','20','40','40']"
                     data-y="['bottom','bottom','bottom','bottom']"
                     data-voffset="['27','27','90','90']"
                     data-width="30" data-height="30"
                     data-whitespace="nowrap" data-transform_idle="o:1;"
                     data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:200;e:Power1.easeInOut;"
                     data-style_hover="c:rgba(0, 0, 0, 0.25);"
                     data-transform_in="opacity:0;s:500;e:Power2.easeInOut;"
                     data-transform_out="opacity:0;s:300;"
                     data-start="500"
                     data-splitin="none"
                     data-splitout="none"
                     data-actions=''
                     data-responsive_offset="on"
                     data-startslide="0"
                     data-endslide="2"
                     style="z-index: 10; min-width: 30px; max-width: 30px; max-width: 30px; max-width: 30px;
                                white-space: nowrap;text-transform:left;cursor:pointer;">
                     <i class="fa fa-google-plus"></i>
                  </a>
                  <!-- LAYER NR. 7 -->
                  <div class="tp-caption tp-resizeme tp-static-layer"
                       data-x="['center','center','center','center']"
                       data-hoffset="['0','0','0','0']"
                       data-y="['bottom','bottom','bottom','bottom']"
                       data-voffset="['30','30','30','30']"
                       data-width="none"
                       data-height="none"
                       data-whitespace="nowrap"
                       data-transform_idle="o:1;"
                       data-transform_in="opacity:0;s:500;e:Power2.easeInOut;"
                       data-transform_out="opacity:0;s:300;"
                       data-start="500"
                       data-splitin="none"
                       data-splitout="none"
                       data-actions='[{"event":"click","action":"jumptoslide","slide":"next","delay":""}]'
                       data-responsive_offset="on"
                       data-startslide="0"
                       data-endslide="2"
                       style="z-index: 11; white-space: nowrap; font-size: 30px; line-height: 30px; font-weight: 400;
                                color: rgba(255, 255, 255, 1.00);text-transform:left;cursor:pointer;">
                     <div class="rs-looped rs-slideloop"
                          data-easing="Power2.easeInOut"
                          data-speed="1"
                          data-xs="0"
                          data-xe="0"
                          data-ys="-5"
                          data-ye="5">
                        <i class="fa fa-chevron-down"></i>
                     </div>
                  </div>
                  <!-- LAYER NR. 8 -->
                  <div class="tp-caption tp-resizeme tp-static-layer"
                       data-x="['center','center','center','center']"
                       data-hoffset="['-151','-151','-181','-211']"
                       data-y="['middle','middle','middle','middle']"
                       data-voffset="['6','6','17','17']"
                       data-width="none"
                       data-height="none"
                       data-whitespace="nowrap"
                       data-transform_idle="o:1;"
                       data-transform_in="opacity:0;s:500;e:Power2.easeInOut;"
                       data-transform_out="opacity:0;s:300;"
                       data-start="500"
                       data-responsive_offset="on"
                       data-startslide="0"
                       data-endslide="2" style="z-index: 12;text-transform:left;">
                     <img src="https://cdn.everpayinc.com/elektropay/assets/img/slider/slider2/dummy.png" alt=""
                          data-ww="['350px','350px','350','350px']"
                          data-hh="['650px','650px','650','650px']"
                          data-lazyload="https://cdn.everpayinc.com/elektropay/assets/img/slider/slider2/iphone_cutout.png"
                          data-no-retina>
                  </div>
               </div> 
            </div>
         </div>



<div class="hidden slider-container rev_slider_wrapper" style="height: 700px;">
            <div id="revolutionSlider" class="slider rev_slider" data-plugin-revolution-slider data-plugin-options="{'delay': 9000, 'gridwidth': 1170, 'gridheight': 700}">
               <ul>
                  <!-- SLIDE #6 -->
                  <li data-index="rs-6" data-transition="fade" data-slotamount="default" data-easein="default"
                      data-easeout="default" data-masterspeed="default" data-thumb="" data-rotate="0" data-saveperformance="off"
                      class="rev-gradient-blue tp-revslider-slidesli" data-title="Slide" data-description="">
                     <!-- MAIN IMAGE -->
                     <div class="slotholder" style="width: 100%; height: 100%; visibility: inherit; opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
                        <div class="tp-bgimg defaultimg"
                             style="width: 100%; height: 100%;
                                        opacity: 1; visibility: inherit; z-index: 20;
                                        background-image: url({{.imageUrl}});
                                        background-color: rgb(6, 110, 217);
                                        background-size: cover;
                                        background-position: 50% 50%;
                                        background-repeat: no-repeat;"
                             src="{{.imageUrl}}"></div>
                     </div>
                     <!-- LAYERS -->
                     <!-- LAYER NR. 1 -->
                     <div class="tp-parallax-wrap">
                        <div class="tp-loop-wrap">
                           <div class="tp-mask-wrap">
                              <div class="tp-caption tp-resizeme rs-parallaxlevel-0" id="slide-7-layer-1"
                                   data-x="['left','left','left','left']"
                                   data-hoffset="['5','5','5','2']"
                                   data-y="['top','bottom','bottom','bottom']"
                                   data-voffset="['309','0','0','0']"
                                   data-width="none"
                                   data-height="none"
                                   data-whitespace="nowrap"
                                   data-transform_idle="o:1;"
                                   data-transform_in="y:bottom;s:1650;e:Expo.easeOut;"
                                   data-transform_out="opacity:0;s:300;s:300;"
                                   data-start="500"
                                   data-responsive_offset="on">
                                 <img src="{{.imageUrl2}}" alt="" width="1193" height="413" data-ww="['1193px','1002.3510895883778','762.328530259366','473.3636363636363']" data-hh="['413px','347','264','164']" data-no-retina="">
                              </div>
                           </div>
                        </div>
                     </div>
                     <!-- LAYER NR. 2 -->
                     <div class="tp-parallax-wrap">
                        <div class="tp-loop-wrap">
                           <div class="tp-mask-wrap">
                              <div class="tp-caption tp-resizeme rs-parallaxlevel-0" id="slide-7-layer-2"
                                   data-x="['left','left','left','left']"
                                   data-hoffset="['121','30','30','99']"
                                   data-y="['top','top','top','top']"
                                   data-voffset="['200','244','244','137']"
                                   data-fontsize="['50','50','30','30']"
                                   data-width="none"
                                   data-height="none"
                                   data-whitespace="nowrap"
                                   data-transform_idle="o:1;"
                                   data-transform_in="y:50px;opacity:0;s:480;e:Power2.easeInOut;"
                                   data-transform_out="opacity:0;s:300;s:300;"
                                   data-start="1890"
                                   data-splitin="none"
                                   data-splitout="none"
                                   data-responsive_offset="on"
                                   style="z-index: 6; white-space: nowrap; font-size: 50px; line-height: 60px; font-weight: 300; color: rgb(13, 78, 70); font-family: 'Open Sans'; visibility: inherit; transition: none; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; min-height: 0px; min-width: 0px; max-height: none; max-width: none; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform-origin: 50% 50% 0px;">
                                     {{.title}}
                              </div>
                           </div>
                        </div>
                     </div>
                     <!-- LAYER NR. 3 -->
                     <div class="tp-parallax-wrap">
                        <div class="tp-loop-wrap">
                           <div class="tp-mask-wrap">
                              <div class="tp-caption tp-resizeme rs-parallaxlevel-0" id="slide-7-layer-6"
                                   data-x="['left','left','left','left']"
                                   data-hoffset="['456','366','234','303']"
                                   data-y="['top','top','top','top']"
                                   data-voffset="['200','245','245','137']"
                                   data-fontsize="['50','50','30','30']"
                                   data-width="none"
                                   data-height="none"
                                   data-whitespace="nowrap"
                                   data-transform_idle="o:1;"
                                   data-transform_in="y:50px;opacity:0;s:480;e:Power2.easeInOut;"
                                   data-transform_out="opacity:0;s:300;s:300;"
                                   data-start="1890"
                                   data-splitin="none"
                                   data-splitout="none"
                                   data-responsive_offset="on"
                                   style="z-index: 7; white-space: nowrap; font-size: 50px; line-height: 60px; font-weight: 400; color: rgb(13, 78, 70); font-family: 'Open Sans'; visibility: inherit; transition: none; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; min-height: 0px; min-width: 0px; max-height: none; max-width: none; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform-origin: 50% 50% 0px;">
                                  {{.text}}  
                              </div>
                           </div>
                        </div>
                     </div>
                     <!-- LAYER NR. 4 -->
                     <div class="tp-parallax-wrap">
                        <div class="tp-loop-wrap">
                           <div class="tp-mask-wrap">
                              <div class="tp-caption tp-shape tp-shapewrapper tp-resizeme rs-parallaxlevel-0" id="slide-7-layer-3"
                                   data-x="['left','left','left','left']"
                                   data-hoffset="['599','500','350','350']"
                                   data-y="['top','top','top','top']"
                                   data-voffset="['233','233','233','233']"
                                   data-width="1"
                                   data-height="90"
                                   data-whitespace="nowrap"
                                   data-visibility="['on','on','on','off']"
                                   data-transform_idle="o:1;"
                                   data-transform_in="y:50px;opacity:0;s:480;e:Power2.easeInOut;"
                                   data-transform_out="opacity:0;s:300;s:300;"
                                   data-start="2200"
                                   data-responsive_offset="on">
                              </div>
                           </div>
                        </div>
                     </div>
                     <!-- LAYER NR. 5 -->
                     <div class="tp-parallax-wrap">
                        <div class="tp-loop-wrap">
                           <div class="tp-mask-wrap">
                              <div class="tp-caption tp-resizeme rs-parallaxlevel-0" id="slide-7-layer-4"
                                   data-x="['left','left','left','center']"
                                   data-hoffset="['645','550','400','0']"
                                   data-y="['top','top','top','middle']"
                                   data-voffset="['155','189','194','-75']"
                                   data-fontsize="['22','20','18','18']"
                                   data-width="['470','470','340','349']"
                                   data-height="['106','106','none','99']"
                                   data-whitespace="normal"
                                   data-transform_idle="o:1;"
                                   data-transform_in="y:50px;opacity:0;s:450;e:Power2.easeInOut;"
                                   data-transform_out="opacity:0;s:300;s:300;"
                                   data-start="2600"
                                   data-splitin="none"
                                   data-splitout="none"
                                   data-responsive_offset="on"
                                   style="z-index: 9; min-width: 470px; max-width: 470px; white-space: normal; font-size: 22px; line-height: 32px; font-weight: 400; color: rgb(13, 78, 70); font-family: 'Open Sans'; visibility: inherit; transition: none; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; min-height: 106px; max-height: 106px; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform-origin: 50% 50% 0px;">
                                {{ if .subtitle }}  {{.subtitle}} {{ end }}
                                 </div>
                           </div>
                        </div>
                     </div>
                     <!-- LAYER NR. 6 -->
                     <div class="tp-parallax-wrap">
                        <div class="tp-loop-wrap">
                           <div class="tp-mask-wrap">
                              <div class="tp-caption rev-btn rs-parallaxlevel-0" id="slide-7-layer-7"
                                   data-x="['left','left','left','center']"
                                   data-hoffset="['643','550','400','0']"
                                   data-y="['top','top','top','top']"
                                   data-voffset="['275','308','308','424']"
                                   data-width="165"
                                   data-height="none"
                                   data-whitespace="normal"
                                   data-transform_idle="o:1;"
                                   data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:0;e:Linear.easeNone;"
                                   data-style_hover="c:rgba(255, 255, 255, 1.00);bg:rgba(13, 78, 70, 1.00);bc:rgba(0, 0, 0, 0);cursor:pointer;"
                                   data-transform_in="y:50px;opacity:0;s:380;e:Power2.easeInOut;"
                                   data-transform_out="opacity:0;s:300;s:300;"
                                   data-start="2930"
                                   data-splitin="none"
                                   data-splitout="none"
                                   data-responsive_offset="on"
                                   data-responsive="off"
                                   style="z-index: 10; min-width: 165px; max-width: 165px; white-space: normal; font-size: 14px; line-height: 14px; font-weight: 600; color: rgb(13, 78, 70); font-family: 'Open Sans'; text-align: center; padding: 10px 30px; border: 2px solid rgb(13, 78, 70); border-radius: 3px; outline: none; box-shadow: none; box-sizing: border-box; visibility: inherit; transition: none; font-style: normal; text-decoration: none; margin: 0px; letter-spacing: 0px; min-height: 0px; max-height: none; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform-origin: 50% 50% 0px; cursor: pointer; background-color: rgba(0, 0, 0, 0);">
                                  {{.text2}}
                              </div>
                           </div>
                        </div>
                     </div>
                  </li>
                  <!--/ SLIDE #7 -->
               </ul>
            </div><!-- END REVOLUTION SLIDER -->
           </div>
<div class="page-inner p-none">	    
