<section class="section-primary alternate-color">
               <div class="container">

                  <div class="row">
                     <div class="col-sm-12">
                        <h2 class="section-title">With Column pricing table</h2>
                        <p class="lead">We'll help you choose the right products and solutions.</p>
                        <hr class="invisible">

                        <div class="p_table col-4">

                           <!-- caption column -->
                           <div class="caption_column">
                              <ul>
                                 <!-- column header -->
                                 <li class="header_row_1 align_center radius5_topleft"></li>
                                 <li class="header_row_2"><h2 class="caption">choose <span>your</span> plan</h2></li>
                                 <!-- data rows -->
                                 <li class="row_style_4"><span>Disk Space</span></li>
                                 <li class="row_style_2"><span>Bandwidth mo.</span></li>
                                 <li class="row_style_4"><span>E-mail Accounts</span></li>
                                 <li class="row_style_2"><span>MySQL Databases</span></li>
                                 <li class="row_style_4"><span>24h Support</span></li>
                                 <li class="row_style_2"><span>Support Tickets mo.</span></li>
                                 <!-- column footer -->
                                 <li class="footer_row"></li>
                              </ul>
                           </div>

                           <div class="pricing_column_wrap clearfix">

                              <!-- column style 1 -->
                              <div class="column_1">
                                 <!-- ribbon (optional) -->
                                 <div class="column_ribbon">Trial</div>
                                 <!-- /ribbon -->

                                 <ul>
                                    <!-- column header -->
                                    <li class="header_row_1 align_center"><h2 class="col1">starter</h2></li>
                                    <li class="header_row_2 align_center"><h1 class="col1">$<span>10</span></h1><h3 class="col1">per month</h3></li>
                                    <!-- data rows -->
                                    <li class="row_style_3 align_center"><span><span class="hidden_caption_span">Disk Space</span>25GB</span></li>
                                    <li class="row_style_1 align_center"><span><span class="hidden_caption_span">Bandwidth mo.</span>250GB</span></li>
                                    <li class="row_style_3 align_center"><span><span class="hidden_caption_span">E-mail Accounts</span>5</span></li>
                                    <li class="row_style_1 align_center icon-no-1"><span><span class="hidden_caption_span">MySQL Databases</span></span></li>
                                    <li class="row_style_3 align_center icon-no-1"><span><span class="hidden_caption_span">24h Support</span></span></li>
                                    <li class="row_style_1 align_center"><span><span class="hidden_caption_span">Support Tickets mo.</span>1 Ticket</span></li>
                                    <!-- column footer -->
                                    <li class="footer_row"><a href="#" class="sign_up radius3">sign up!</a></li>
                                 </ul>
                              </div>

                              <!-- column style 2 -->
                              <div class="column_2">
                                 <!-- ribbon (optional) -->
                                 <div class="column_ribbon">Best</div>
                                 <!-- /ribbon -->

                                 <ul>
                                    <!-- column header -->
                                    <li class="header_row_1 align_center"><h2 class="col2">econo</h2></li>
                                    <li class="header_row_2 align_center"><h1 class="col2">$<span>30</span></h1><h3 class="col2">per month</h3></li>
                                    <!-- data rows -->
                                    <li class="row_style_4 align_center"><span><span class="hidden_caption_span">Disk Space</span>50GB</span></li>
                                    <li class="row_style_2 align_center"><span><span class="hidden_caption_span">Bandwidth mo.</span>500GB</span></li>
                                    <li class="row_style_4 align_center"><span><span class="hidden_caption_span">E-mail Accounts</span>10</span></li>
                                    <li class="row_style_2 align_center icon-yes-1"><span><span class="hidden_caption_span">MySQL Databases</span></span></li>
                                    <li class="row_style_4 align_center icon-no-1"><span><span class="hidden_caption_span">24h Support</span></span></li>
                                    <li class="row_style_2 align_center"><span><span class="hidden_caption_span">Support Tickets mo.</span>2 Tickets</span></li>
                                    <!-- column footer -->
                                    <li class="footer_row"><a href="#" class="sign_up radius3">sign up!</a></li>
                                 </ul>
                              </div>

                              <!-- column style 3 -->
                              <div class="column_3 active_column">
                                 <!-- ribbon (optional) -->
                                 <div class="column_ribbon">-15%</div>
                                 <!-- /ribbon -->

                                 <ul>
                                    <!-- column header -->
                                    <li class="header_row_1 align_center"><h2 class="col3">standard</h2></li>
                                    <li class="header_row_2 align_center"><h1 class="col3">$<span>59</span></h1><h3 class="col3">per month</h3></li>
                                    <!-- data rows -->
                                    <li class="row_style_3 align_center"><span><span class="hidden_caption_span">Disk Space</span>100GB</span></li>
                                    <li class="row_style_1 align_center"><span><span class="hidden_caption_span">Bandwidth mo.</span>1000GB</span></li>
                                    <li class="row_style_3 align_center"><span><span class="hidden_caption_span">E-mail Accounts</span>50</span></li>
                                    <li class="row_style_1 align_center icon-yes-1"><span><span class="hidden_caption_span">MySQL Databases</span></span></li>
                                    <li class="row_style_3 align_center icon-yes-1"><span><span class="hidden_caption_span">24h Support</span></span></li>
                                    <li class="row_style_1 align_center"><span><span class="hidden_caption_span">Support Tickets mo.</span>5 Tickets</span></li>
                                    <!-- column footer -->
                                    <li class="footer_row"><a href="#" class="sign_up radius3">sign up!</a></li>
                                 </ul>
                              </div>

                              <!-- column style 4 -->
                              <div class="column_4">
                                 <!-- ribbon (optional) -->
                                 <div class="column_ribbon">-25%</div>
                                 <!-- /ribbon -->

                                 <ul>
                                    <!-- column header -->
                                    <li class="header_row_1 align_center radius5_topright"><h2 class="col4">professional</h2></li>
                                    <li class="header_row_2 align_center"><h1 class="col4">$<span>99</span></h1><h3 class="col4">per month</h3></li>
                                    <!-- data rows -->
                                    <li class="row_style_4 align_center"><span><span class="hidden_caption_span">Disk Space</span>250GB</span></li>
                                    <li class="row_style_2 align_center"><span><span class="hidden_caption_span">Bandwidth mo.</span>3000GB</span></li>
                                    <li class="row_style_4 align_center"><span><span class="hidden_caption_span">E-mail Accounts</span>Unlimited</span></li>
                                    <li class="row_style_2 align_center icon-yes-1"><span><span class="hidden_caption_span">MySQL Databases</span></span></li>
                                    <li class="row_style_4 align_center icon-yes-1"><span><span class="hidden_caption_span">24h Support</span></span></li>
                                    <li class="row_style_2 align_center"><span><span class="hidden_caption_span">Support Tickets mo.</span>10 Tickets</span></li>
                                    <!-- column footer -->
                                    <li class="footer_row"><a href="#" class="sign_up radius3">sign up!</a></li>
                                 </ul>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </section>
