<div class="slider-container rev_slider_wrapper" style="height: 620px;">
            <div id="revolutionSlider" class="slider rev_slider" data-plugin-revolution-slider data-plugin-options="{'delay': 9000, 'gridwidth': 1170, 'gridheight': 700}">
               <ul>
                  <!-- SLIDE #6 -->
                  <li data-index="rs-6" data-transition="fade" data-slotamount="default" data-easein="default"
                      data-easeout="default" data-masterspeed="default" data-thumb="" data-rotate="0" data-saveperformance="off"
                      class="rev-gradient-blue tp-revslider-slidesli" data-title="Slide" data-description="">
                     <!-- MAIN IMAGE -->
                     <div class="slotholder" style="width: 100%; height: 100%; visibility: inherit; opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
                        <div class="tp-bgimg defaultimg"
                             style="width: 100%; height: 100%;
                                        opacity: 1; visibility: inherit; z-index: 20;
                                        background-image: url();
                                        background-color: rgb(6, 110, 217);
                                        background-size: cover;
                                        background-position: 50% 50%;
                                        background-repeat: no-repeat;"
                                        src="">
                                 </div>
                     </div>
                     <!-- LAYERS -->
  <!-- LAYER NR. 5 -->
                     <div class="tp-parallax-wrap">
                        <div class="tp-loop-wrap">
                           <div class="tp-mask-wrap">
                              <div class="tp-caption tp-shape tp-shapewrapper tp-resizeme rs-parallaxlevel-0" id="slide-6-layer-6"
                                   data-x="['left','left','left','left']"
                                   data-hoffset="['30','30','30','30']"
                                   data-y="['top','top','top','top']"
                                   data-voffset="['293','293','181','100']"
                                   data-width="50"
                                   data-height="3"
                                   data-whitespace="nowrap"
                                   data-transform_idle="o:1;"
                                   data-transform_in="x:-50px;opacity:0;s:300;e:Power2.easeInOut;"
                                   data-transform_out="opacity:0;s:300;s:300;"
                                   data-start="1950"
                                   data-responsive_offset="on"
                                   data-end="8990">
                              </div>
                           </div>
                        </div>
                     </div>
                     <!-- LAYER NR. 6 -->
                     <div class="tp-parallax-wrap">
                        <div class="tp-loop-wrap">
                           <div class="tp-mask-wrap">
                              <div class="tp-caption tp-resizeme rs-parallaxlevel-0" id="slide-6-layer-7"
                                   data-x="['left','left','left','left']"
                                   data-hoffset="['30','30','30','30']"
                                   data-y="['top','top','top','top']"
                                   data-voffset="['330','334','216','163']"
                                   data-fontsize="['46','46','38','20']"
                                   data-lineheight="['52','52','46','26']"
                                   data-width="535"
                                   data-height="122"
                                   data-whitespace="normal"
                                   data-transform_idle="o:1;"
                                   data-transform_in="x:-50px;opacity:0;s:300;e:Power2.easeInOut;"
                                   data-transform_out="opacity:0;s:300;s:300;"
                                   data-start="2060"
                                   data-splitin="none"
                                   data-splitout="none"
                                   data-responsive_offset="on"
                                  style="z-index: 11; min-width: 536px; max-width: 536px; white-space: normal; font-size: 46px; line-height: 52px; font-weight: 700; color: rgb(255, 255, 255); font-family: 'Open Sans'; visibility: inherit; transition: none; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; min-height: 0px; max-height: none; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform-origin: 50% 50% 0px;">
                                  {{ .title }}
                              </div>
                           </div>
                        </div>
                     </div>
                     <!-- LAYER NR. 7 -->
                     <div class="tp-parallax-wrap">
                        <div class="tp-loop-wrap">
                           <div class="tp-mask-wrap">
                              <div class="tp-caption tp-resizeme rs-parallaxlevel-0" id="slide-6-layer-8"
                                   data-x="['left','left','left','left']"
                                   data-hoffset="['32','32','32','30']"
                                   data-y="['top','top','top','top']"
                                   data-voffset="['414','354','307','130']"
                                   data-fontsize="['20','20','37','19']"
                                   data-lineheight="['30','30','30','38']"
                                   data-width="536"
                                   data-height="none"
                                   data-whitespace="normal"
                                   data-transform_idle="o:1;"
                                   data-transform_in="x:-50px;opacity:0;s:300;e:Power2.easeInOut;"
                                   data-transform_out="opacity:0;s:300;s:300;"
                                   data-start="2160"
                                   data-splitin="none"
                                   data-splitout="none"
                                   data-responsive_offset="on"
                                   style="z-index: 12; min-width: 300px; max-width: 305px; white-space: normal; font-size: 26px; line-height: 26px; font-weight: 400; color: rgb(255, 255, 255); font-family: 'Open Sans'; visibility: inherit; transition: none; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; min-height: 29px; max-height: 29px; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform-origin: 50% 50% 0px;">
                                   {{ .subtitle }}
                             </div>
                           </div>
                        </div>
                     </div>
                  </li>
                  <!--/ SLIDE #7 -->
               </ul>
            </div><!-- END REVOLUTION SLIDER -->
         </div>




