<section class="section-primary main-color">
               <div class="container">
                  <div class="row">
                     <div class="col-sm-7">

                        <h3 class="uppercase fs-18 fw-semibold opacity4 lt-spacing-1">{{.heading}}</h3>

                        <h2 class="section-title lh-38">
                         {{.text}}
                        </h2>

                        <p class="fs-18 lh-28 mt-xl mb-xl">
                         {{.text1}}
                        </p>

                        <p>
                        {{.text2}}
                        </p>
                     </div>

                     <div class="col-sm-5">
                        <div class="video-wrap">
                           <img class="img-responsive mt-xlg" src="https://cdn.everpayinc.com/elektropay/assets/img/custom/c15.png">
                        </div>
                     </div>
                  </div>
               </div>
            </section>

<section class="section-primary section-big alternate-color t-bordered b-bordered">
               <div class="container">
                  <div class="row">
                     <div class="col-sm-11">

                        <h2 class="section-title fs-22 fw-thin mt-none">
                            {{.text3}}
                        </h2>
			     
			<a href="{{.buttonLink}}" class="btn btn-primary mt-xs mb-xlg">{{.buttonText}}</a>
                     </div>
                  </div>
               </div>
            </section>



