{{ partial "head" . }}
{{ partial "nav" . }}


{{ partial "product-jumbo" (dict "imageUrl" "https://res.cloudinary.com/lmj6rf6tz/image/upload/v1485753245/RC5umU_yxgvhj.jpg" "title" "PRODUCT OVERVIEW" "subtitle" "Availability: All countries Elektropay supports" "subtitle" "End-to-end payment solution for selling to customers on web, mobile, and native app experiences. Accept credit and debit cards, PayPal, and more.") }}


 <div class="page-inner pt-none">
<section class="section-primary section-big main-color">
               <div class="container">
                  <div class="row">
                     <div class="col-sm-6">

                        <h3 class="uppercase fs-18 opacity4 lt-spacing-1 mt-none">EXPRESS UNIVERSITY</h3>
                        <h2 class="section-title fs-30 lh-36 fw-thin mt-xs">
                           Deliver native Android, iOS <br>
                           Windows apps with Express.
                        </h2>
                        <p class="fs-18 lh-26 fw-vthin mt-md mb-md opacity8">
                           Sign in to multiple teams, get desktop notifications,   <br>
                           and launch right from your tray.
                        </p>

                        <ul class="i-list filled">
                           <li><i class="fa fa-check"></i><span class="list-item fs-15">Access live, online classes in all timezones</span></li>
                           <li><i class="fa fa-check"></i><span class="list-item fs-15">Get questions answered fast in access to guest fast</span></li>
                           <li><i class="fa fa-check"></i><span class="list-item fs-15">Enjoy exclusive access to guest lectures from</span></li>
                           <li><i class="fa fa-check"></i><span class="list-item fs-15">See how your app is and what your testers have</span></li>
                        </ul>

                        <a href="#" class="btn btn-primary btn-md mt-md mr-md"><i class="fa fa-question fs-16"></i> Learn more about Express</a>
                     </div>
                     <div class="col-sm-6">
                        <img src="img/custom/c16.png" class="img-responsive mt-xl">
                     </div>
                  </div>
               </div>
            </section>
  
  <section class="section-primary section-big main-color">
               <div class="container">
                  <div class="row">
                     
                     <div class="col-sm-6">
                        <img src="img/custom/c16.png" class="img-responsive mt-xl">
                     </div>
                  </div>
               </div>
   <div class="col-sm-6">

                        <h3 class="uppercase fs-18 opacity4 lt-spacing-1 mt-none">EXPRESS UNIVERSITY</h3>
                        <h2 class="section-title fs-30 lh-36 fw-thin mt-xs">
                           Deliver native Android, iOS <br>
                           Windows apps with Express.
                        </h2>
                        <p class="fs-18 lh-26 fw-vthin mt-md mb-md opacity8">
                           Sign in to multiple teams, get desktop notifications,   <br>
                           and launch right from your tray.
                        </p>

                        <ul class="i-list filled">
                           <li><i class="fa fa-check"></i><span class="list-item fs-15">Access live, online classes in all timezones</span></li>
                           <li><i class="fa fa-check"></i><span class="list-item fs-15">Get questions answered fast in access to guest fast</span></li>
                           <li><i class="fa fa-check"></i><span class="list-item fs-15">Enjoy exclusive access to guest lectures from</span></li>
                           <li><i class="fa fa-check"></i><span class="list-item fs-15">See how your app is and what your testers have</span></li>
                        </ul>

                        <a href="#" class="btn btn-primary btn-md mt-md mr-md"><i class="fa fa-question fs-16"></i> Learn more about Express</a>
                     </div>
            </section>
  
  <section class="section-primary section-big main-color">
               <div class="container">
                  <div class="row">
                     <div class="col-sm-6">

                        <h3 class="uppercase fs-18 opacity4 lt-spacing-1 mt-none">EXPRESS UNIVERSITY</h3>
                        <h2 class="section-title fs-30 lh-36 fw-thin mt-xs">
                           Deliver native Android, iOS <br>
                           Windows apps with Express.
                        </h2>
                        <p class="fs-18 lh-26 fw-vthin mt-md mb-md opacity8">
                           Sign in to multiple teams, get desktop notifications,   <br>
                           and launch right from your tray.
                        </p>

                        <ul class="i-list filled">
                           <li><i class="fa fa-check"></i><span class="list-item fs-15">Access live, online classes in all timezones</span></li>
                           <li><i class="fa fa-check"></i><span class="list-item fs-15">Get questions answered fast in access to guest fast</span></li>
                           <li><i class="fa fa-check"></i><span class="list-item fs-15">Enjoy exclusive access to guest lectures from</span></li>
                           <li><i class="fa fa-check"></i><span class="list-item fs-15">See how your app is and what your testers have</span></li>
                        </ul>

                        <a href="#" class="btn btn-primary btn-md mt-md mr-md"><i class="fa fa-question fs-16"></i> Learn more about Express</a>
                     </div>
                     <div class="col-sm-6">
                        <img src="img/custom/c16.png" class="img-responsive mt-xl">
                     </div>
                  </div>
               </div>
            </section>
  
 <section class="section-primary main-color">
  
        

 </section>
  </div>
{{ partial "footer" . }}
