{{ partial "head" . }}
{{ partial "nav" . }}

 <div class="page-inner pt-none">

{{ partial "product-jumbo" (dict "imageUrl" "https://res.cloudinary.com/lmj6rf6tz/image/upload/v1485753245/RC5umU_yxgvhj.jpg" "title" "PRODUCT OVERVIEW" "subtitle" "Availability: All countries Elektropay supports" "subtitle" "End-to-end payment solution for selling to customers on web, mobile, and native app experiences. Accept credit and debit cards, PayPal, and more.") }}

 
 <section class="section-primary main-color">
        

 </section>
  </div>
{{ partial "footer" . }}
