{{ partial "head" . }}
{{ partial "nav" . }}

 <div class="page-inner pt-none">

{{ partial "product-jumbo" (dict "imageUrl" "https://cdn.everpayinc.com/elektropay/assets/img/custom/sectionbg.png" "title" "PRODUCT OVERVIEW" "subtitle" "Elektropay features" "subtitle" "End-to-end payment solution for selling to customers on web, mobile, and native app experiences. Accept credit and debit cards, PayPal, and more.") }}

 +{{ partial "product-jumbo" (dict "imageUrl" "https://cdn.everpayinc.com/elektropay/assets/img/custom/sectionbg.png" .Params.image "title" .Title  "text" .Text) }}

{{ partial "4-up" .Params.intro }}


{{ with .Params.main }}
<div class="mw7 center">
  <div class="mw6 ph3 mb3">
    <h3 class="f3 b lh-title mb2">{{ .heading }}</h3>
    <p>{{ .description }}</p>
  </div>
</div>

<!-- Image grid -->
{{ partial "image-grid" . }}
{{ end }}

<div class="pb4">
  {{ range .Params.testimonials }}
    {{ partial "blockquote" . }}
  {{ end }}
</div>

<!-- Full-width image -->
<img src="{{ .Params.full_image }}" alt="" class="db w-100">

{{ partial "table" .Params.pricing }}

{{ partial "footer" . }}
