{{ partial "head" . }}
{{ partial "nav" . }}

<div class="page-inner p-none">

{{ partial "pricing-hero" (dict "imageUrl" "https://cdn.everpayinc.com/elektropay/assets/img/custom/sectionbg.png" "title" "OUR PRICING" "subtitle" "Plans And Pricing" "subtitle" " We keep our pricing super simple, in this complex world of different payment types, devices and international commerce") }}

 <div class="page-inner pt-none">
{{ partial "pricing-table" . }} 
 </div>
 
 <section class="hidden section-primary main-color">
        
<div class="container">
<div class="section mobile-full">
<div class="sub-section pricing-matrix">
<div class="toggle-wrapper desktop-off centered mbl phm">
<span class="monthly js-toggle-to-monthly">Billed Monthly</span>
<div class="toggle js-matrix-toggle">
<span class="toggle-bar"></span>
<span class="toggle-ball right"></span>
</div>
<span class="annually js-toggle-to-annually active">Billed Annually</span>

</div>
<div class="tabs desktop-off">
<div class="tab js-toggle-tier active" data-tier="basic">
Basic
</div>
<div class="tab js-toggle-tier" data-tier="premium">
Premium
</div>
<div class="tab js-toggle-tier" data-tier="pro">
Pro
</div>
</div>
<div class="current-plan desktop-off">
<div class="basic pvm">
<span class="tier">Basic</span>
<span class="price mvs active">
$0
</span>
<small>
totally free
</small>
</div>
<div class="premium pvm">
<span class="tier">Premium</span>
<span class="price mvs monthly">
$10
</span>
<span class="price mvs annually active">
$8
</span>
<small>
per user / month
</small>
</div>
<div class="pro pvm">
<span class="tier">Pro</span>
<span class="price mvs monthly">
$15
</span>
<span class="price mvs annually active">
$12
</span>
<small>
per user / month
</small>
</div>
</div>
<table class="features">
<thead class="mobile-off">
<tr>
<th class="toggle-wrapper">
<span class="monthly js-toggle-to-monthly">Billed Monthly</span>
<div class="toggle js-matrix-toggle">
<span class="toggle-bar"></span>
<span class="toggle-ball right"></span>
</div>
<span class="annually js-toggle-to-annually active">Billed Annually</span>

</th>
<th class="basic">
<span class="tier">Basic</span>
<span class="price mvs active">
$0
</span>
<small>
totally free
</small>
</th>
<th class="premium">
<span class="tier">Premium</span>
<span class="price mvs monthly">
$10
</span>
<span class="price mvs annually active">
$8
</span>
<small>
per user / month
</small>
</th>
<th class="pro">
<span class="tier">Pro</span>
<span class="price mvs monthly">
$15
</span>
<span class="price mvs annually active">
$12
</span>
<small>
per user / month
</small>
</th>
</tr>
</thead>
<tbody>
<tr class="heading">
<td colspan="4">
Features
</td>
</tr>
<tr class="feature">
<td class="feature-name">
Calendar integrations with Google Calendar, Office 365, Outlook and iCloud
</td>
<td class="basic">
<i class="icon-done"></i>
</td>
<td class="premium">
<i class="icon-done"></i>
</td>
<td class="pro">
<i class="icon-done"></i>
</td>
</tr>
<tr class="feature">
<td class="feature-name">
Schedule unlimited events
</td>
<td class="basic">
<i class="icon-done"></i>
</td>
<td class="premium">
<i class="icon-done"></i>
</td>
<td class="pro">
<i class="icon-done"></i>
</td>
</tr>
<tr class="feature">
<td class="feature-name">
Event types
<div class="tooltip-wrapper">
<i class="icon-tooltip js-open-tooltip"></i>
<div class="tooltip absolute">
<p>Event types allow you to tailor your availability, meeting duration, location and more depending on the meeting and who’s scheduling with you.</p>
</div>
</div>
</td>
<td class="basic">
1 event type
</td>
<td class="premium">
Unlimited event types
</td>
<td class="pro">
Unlimited event types
</td>
</tr>
<tr class="feature">
<td class="feature-name">
Personalized Calendly link (e.g. calendly.com/janedoe)
</td>
<td class="basic">
<i class="icon-done"></i>
</td>
<td class="premium">
<i class="icon-done"></i>
</td>
<td class="pro">
<i class="icon-done"></i>
</td>
</tr>
<tr class="feature">
<td class="feature-name">
Removable Calendly branding
</td>
<td class="basic">
<i class="icon-close"></i>
</td>
<td class="premium">
<i class="icon-done"></i>
</td>
<td class="pro">
<i class="icon-done"></i>
</td></tr><tr class="feature"></tr>


<tr class="feature">
<td class="feature-name">
Pooled availability options for teams (round robin, collective scheduling, multiple team members on one page)
</td>
<td class="basic">
<i class="icon-close"></i>
</td>
<td class="premium">
<i class="icon-done"></i>
</td>
<td class="pro">
<i class="icon-done"></i>
</td>
</tr>
<tr class="feature">
<td class="feature-name">
Group events (for tours, webinars, classes, etc.)
</td>
<td class="basic">
<i class="icon-close"></i>
</td>
<td class="premium">
<i class="icon-done"></i>
</td>
<td class="pro">
<i class="icon-done"></i>
</td>
</tr>
<tr class="feature">
<td class="feature-name">
Automated event notifications
<div class="tooltip-wrapper">
<i class="icon-tooltip js-open-tooltip"></i>
<div class="tooltip absolute">
<p>Notifications of new meetings and cancellations are emailed automatically to you and your invitees, ensuring everyone stays in sync.</p>
</div>
</div>
</td>
<td class="basic">
<i class="icon-done"></i>
</td>
<td class="premium">
<i class="icon-done"></i>
</td>
<td class="pro">
<i class="icon-done"></i>
</td>
</tr>
<tr class="feature">
<td class="feature-name">
Customizable email notifications and reminders
<div class="tooltip-wrapper">
<i class="icon-tooltip js-open-tooltip"></i>
<div class="tooltip absolute">
<p>Send custom emails with information that you determine your invitees need, when they need it.</p>
</div>
</div>
</td>
<td class="basic">
<i class="icon-close"></i>
</td>
<td class="premium">
<i class="icon-done"></i>
</td>
<td class="pro">
<i class="icon-done"></i>
</td>
</tr>
<tr class="feature">
<td class="feature-name">
Add links to event confirmation pages
<div class="tooltip-wrapper">
<i class="icon-tooltip js-open-tooltip"></i>
<div class="tooltip absolute">
<p>Direct invitees back to your site, payment page or custom thank-you page.</p>
</div>
</div>
</td>
<td class="basic">
<i class="icon-close"></i>
</td>
<td class="premium">
<i class="icon-done"></i>
</td>
<td class="pro">
<i class="icon-done"></i>
</td>
</tr>
<tr class="feature">
<td class="feature-name">
Metrics and reporting
<div class="tooltip-wrapper">
<i class="icon-tooltip js-open-tooltip"></i>
<div class="tooltip absolute">
<p>Added support for UTM parameters to track the source of your leads. Pull reports on your scheduled invitees by source, campaign, event type, time-period and more.</p>
</div>
</div>
</td>
<td class="basic">
<i class="icon-close"></i>
</td>
<td class="premium">
<i class="icon-done"></i>
</td>
<td class="pro">
<i class="icon-done"></i>
</td>
</tr>
<tr class="heading">
<td colspan="4">
Integrations
</td>
</tr>
<tr class="feature">
<td class="feature-name">
Over 700 app integrations with Zapier
<div class="tooltip-wrapper">
<i class="icon-tooltip js-open-tooltip"></i>
<div class="tooltip absolute">
<p>Easily trigger actions in other apps after a Calendly event is scheduled or canceled. Zapier supports 700+ apps including InfusionSoft, Slack, ActiveCampaign, MailChimp, join.me and much more.</p>
</div>
</div>
</td>
<td class="basic">
<i class="icon-close"></i>
</td>
<td class="premium">
<i class="icon-done"></i>
</td>
<td class="pro">
<i class="icon-done"></i>
</td>
</tr>
<tr class="feature">
<td class="feature-name">
Custom integrations with webhooks
<div class="tooltip-wrapper">
<i class="icon-tooltip js-open-tooltip"></i>
<div class="tooltip absolute">
<p>Build custom integrations by directly accessing the Calendly API.</p>
</div>
</div>
</td>
<td class="basic">
<i class="icon-close"></i>
</td>
<td class="premium">
<i class="icon-done"></i>
</td>
<td class="pro">
<i class="icon-done"></i>
</td>
</tr>
<tr class="feature">
<td class="feature-name">
GoToMeeting integration
<div class="tooltip-wrapper">
<i class="icon-tooltip js-open-tooltip"></i>
<div class="tooltip absolute">
<p>Automatically generate and include GoToMeeting details in new Calendly events.</p>
</div>
</div>
</td>
<td class="basic">
<i class="icon-close"></i>
</td>
<td class="premium">
<i class="icon-done"></i>
</td>
<td class="pro">
<i class="icon-done"></i>
</td>
</tr>
<tr class="feature">
<td class="feature-name">
Salesforce integration and support
<div class="tooltip-wrapper">
<i class="icon-tooltip js-open-tooltip"></i>
<div class="tooltip absolute">
<p>Automate more of your workflow with the Calendly and Salesforce integration. Keep your Salesforce records updated on the fly as new Calendly meetings are scheduled.</p>
</div>
</div>
</td>
<td class="basic">
<i class="icon-close"></i>
</td>
<td class="premium">
<i class="icon-close"></i>
</td>
<td class="pro">
<i class="icon-done"></i>
</td>
</tr>
<tr class="feature">
<td class="feature-name">
Stripe integration
<div class="tooltip-wrapper">
<i class="icon-tooltip js-open-tooltip"></i>
<div class="tooltip absolute">
<p>Connect your Stripe account with Calendly so invitees can submit full or partial payments securely upon scheduling a meeting with you. Currently, this feature supports USD and English language.</p>
</div>
</div>
</td>
<td class="basic">
<i class="icon-close"></i>
</td>
<td class="premium">
<i class="icon-close"></i>
</td>
<td class="pro">
<i class="icon-done"></i>
</td>
</tr>
<tr class="heading">
<td colspan="4">
Support
</td>
</tr>
<tr class="feature">
<td class="feature-name">
Email support
<div class="tooltip-wrapper">
<i class="icon-tooltip js-open-tooltip"></i>
<div class="tooltip absolute">
<p>Available M-F, 8am-6pm Eastern time</p>
</div>
</div>
</td>
<td class="basic">
Standard
</td>
<td class="premium">
3 hours
</td>
<td class="pro">
3 hours
</td>
</tr>
<tr class="feature">
<td class="feature-name">
Knowledge Base access
</td>
<td class="basic">
<i class="icon-done"></i>
</td>
<td class="premium">
<i class="icon-done"></i>
</td>
<td class="pro">
<i class="icon-done"></i>
</td>
</tr>
<tr class="feature">
<td class="feature-name">
Onboarding
</td>
<td class="basic">
<i class="icon-close"></i>
</td>
<td class="premium">
10+ users
</td>
<td class="pro">
10+ users
</td>
</tr>
</tbody>
</table>
<div class="row adaptive clearfix pal mobile-centered cta">
<div class="col1of2">
<h2 class="pbs mts signup">Get started for free today</h2>
<p>No credit card required.</p>
</div>
<div class="col1of2">
<div class="mobile-off">
<form novalidate="novalidate" class="pill-form mvs" action="/signup" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="sI7ynLsiWtWqf4wBxpbilgEaZza/m88jBLOAd2MB3gT6Q4MVZz/EaCI0PIB7spQi/j9r8afJuXhBPBnIyyToQQ==">
<input type="hidden" name="section" id="section" value="Pricing Matrix">
<input type="email" name="email" id="email" placeholder="Enter your email">
<input type="submit" value="Sign Up">
</form>


</div>
<div class="desktop-off">
<a class="button" data-section="Pricing Matrix" href="/signup">Get Started For Free</a>
</div>
</div>
</div>
</div>
</div>
  
  </div>
   
</section>
 
 <div class="container">
<div class="section">
<h1 class="mbl centered">Questions? We've got answers.</h1>
<div class="row faq">
<div class="question js-faq-toggle">
<p class="mbn">What happens at the end of my trial?</p>
<div class="toggle">
<span class="vert"></span>
<span class="horiz"></span>
</div>
</div>
<p class="answer">At the end of your 14-day trial, you'll be automatically downgraded to the basic, free plan. Should you wish to upgrade to a paid plan, you can do so from the billing page at any point during or after your trial.</p>
</div>
<div class="row faq">
<div class="question js-faq-toggle">
<p class="mbn">Can we try Calendly with multiple users?</p>
<div class="toggle">
<span class="vert"></span>
<span class="horiz"></span>
</div>
</div>
<p class="answer">Absolutely! You can invite team members to join your trial account at no cost. At the end of your 14-day trial, all members will be automatically downgraded to the basic, free plan. Should you wish to upgrade to a paid plan, you can do so from the billing page at any point during or after your trial. <a href="/pages/teams">Learn more</a> about the benefits of using Calendly for your team.</p>
</div>
<div class="row faq">
<div class="question js-faq-toggle">
<p class="mbn">What does the renewal process look like?</p>
<div class="toggle">
<span class="vert"></span>
<span class="horiz"></span>
</div>
</div>
<p class="answer">Paid subscriptions automatically renew for the same subscription period unless you downgrade your plan before the end of the subscription period.</p>
</div>
<div class="row faq">
<div class="question js-faq-toggle">
<p class="mbn">How do I upgrade or downgrade?</p>
<div class="toggle">
<span class="vert"></span>
<span class="horiz"></span>
</div>
</div>
<p class="answer">It only takes a few clicks to upgrade or downgrade. Just <a href="https://help.calendly.com/hc/en-us/articles/223146887-Upgrade-your-account" target="_blank">visit your billing page</a>, and you can handle everything from there.</p>
</div>
<div class="row faq">
<div class="question js-faq-toggle">
<p class="mbn">We’re a non-profit organization, is there special pricing available?</p>
<div class="toggle">
<span class="vert"></span>
<span class="horiz"></span>
</div>
</div>
<p class="answer">We offer special pricing to qualified non-profit organizations. <a href="mailto:support@calendly.com">Contact our team</a> to learn more.</p>
</div>
<div class="row faq">
<div class="question js-faq-toggle">
<p class="mbn">What payment methods do you accept?</p>
<div class="toggle">
<span class="vert"></span>
<span class="horiz"></span>
</div>
</div>
<p class="answer">We accept Visa, Mastercard, American Express, Discover, JCB and Diners Club credit and debit cards. Invoices and purchase orders can be used for transactions over $5,000.</p>
</div>
</div>
</div>
  
</div>

<div class="container">
<div class="section testimonial centered mbl">
<span class="quotation-mark">“</span>
<p class="quote">Calendly saves my life daily! It coordinates with all of my calendars, so the back and forth to schedule meetings is eliminated.</p>
<p class="mtm pts source">- Crystal Jones</p>
</div>
</div>

{{ partial "footer" . }}
